extends layout 

block content 
  h1 About MemberBoard

  ul 
    li Register to be able to post messages.
    li Upgrade to membership to be able to see a message's author and timestamp.
    li Upgrade to adminship to be able to delete any user's message.
    li The member code is "#{memberCode}".