extends layout 

block content 
  h1= title 

  form(method='POST' action='')
    label First Name: 
      input(type='text' required='true' name='firstName' value=(newUser===undefined ? '': newUser.firstName))
    label Last Name:
      input(type='text' required='true' name='lastName' value=(newUser===undefined ? '': newUser.lastName))
    label Username: 
      input(type='text' required='true' name='username' value=(newUser===undefined ? '': newUser.username))
    label Password: 
      input(type='password' required='true' name='password')
    label Confirm Password: 
      input(type='password' required='true' name='passwordVerify')
    button(type='submit') Sign Up
  
  if errors 
    ul 
      for error in errors 
        li=error.msg