body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
	display: flex;
	background-color: grey;
	height: 60px;
	font-size: 25px;
	align-items: center;
}
